.card{
    background-color: rgb(230, 230, 230);
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card img{
    width: 200px;
    height: 300px;
    border-radius: 5px;
}
.cardInfo{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.cardInfo span{
    margin-top: 10px;
}