.menu{
    display: flex;
    justify-content: space-between;
    background-color: rgb(3, 37, 65);
    padding: 20px;
}
.menu ul li {
    list-style: none;
    margin-left: 10px;
    max-height: 30px;
}
.menu ul {
    display: flex;
    margin-top:15px ;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto',Arial;
    padding:10px;
    border-radius: 15px;
}
.menu ul li a:hover{
    background-color: white;
    color: black;
}
input[type='checkbox']{
    display: none;
}
.menu label{
    display: none;
}
.menu p a img{
    width: 50px;
    height: 50px;
}
#searchBar {
    width: 100%;
    font-size: 1.1em;
    color: rgb(31, 29, 29);
    border: none;
    margin:  auto;
    border-radius: 30px;
    padding: 10px ;
    background-color: rgb(206, 206, 206);
}
#search-form #subSearch{
    display: block;
    cursor: pointer;
    border: none;
    margin-top: 56px;
    background:rgb(255, 255, 255);
    border-radius: 40px;
    height: 40px;
    padding: 5px 26px;
    position: relative;
    color: rgb(0, 0, 0);
}
.search-container{
    width: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#search-form{
    position: relative;
    margin: -10px auto;
}
@media only screen and (max-width: 600px) {
    .menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .menu{
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(3, 37, 65);
        padding: 20px;
    }
    
    button{
        display: none;
    }
    .menu ul li {
        margin-top: 20px;

    }
    .menu ul li a{
        width: 100%;
    }
    #check{
        display: none;
    }
    #check:checked + .menu ul {
        display: none;
    }
    .menu label img{
        width: 40px;
        height: 40px;
        margin: auto;
    }
    .menu label {
        display: block;
        background-color: white;
        border-radius:40px ;
        padding: 3px;
    }
    .menu p{
        text-align: center;
    }
    .container-nav{
        display: flex;
        position: relative;
        flex-direction: column;
    }
}